__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/
env/

.vscode/
.idea/
*.swp
*.swo
.DS_Store

example_scripts/readsboparse.py

globe_history/
*.tar
*.tar.gz

*.log
countries.txt